{
  "swagger": "2.0",
  "info": {
    "description": "This Emerald's and Clint's video tutorial API. It provides links and descriptions to video tutorials that we find particularly useful.",
    "version": "1.0.0",
    "title": "Blockbuster video 2.0",
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "email": "clint.fernandes@gmail.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "clintonfernandes.ca",
  "basePath": "/termproject/API/v1",
  "tags": [
    {
      "name": "resources",
      "description": "Tutorial resources: videos and articles"
    },
    {
      "name": "collections",
      "description": "Collections of related articles and/or videos"
    }
  ],
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/resources": {
      "post": {
        "tags": [
          "resources"
        ],
        "summary": "Add a resource to the collection",
        "description": "",
        "operationId": "addResource",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "resource",
            "description": "Resource to add to collection",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Resource"
            }
          }
        ],
        "responses": {
          "405": {
            "description": "Invalid input"
          },
          "201" : {
            "description": "Successful post"
          }
        }
      },
      "put": {
        "tags": [
          "resources"
        ],
        "summary": "Update a resource",
        "description": "Update an existing video or article tutorial",
        "operationId": "updateResource",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "resource",
            "description": "Resource that needs to be updated",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResourceForPut"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Resource not found"
          },
          "405": {
            "description": "Validation exception"
          },
          "204": {
            "description": "Resource updated successfully"
          }
        }
      }
    },
    "/resources/{resourceId}": {
      "get": {
        "tags": [
          "resources"
        ],
        "summary": "Find resource by ID",
        "description": "Returns a single video or article resource",
        "operationId": "getResourceById",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Resource"
            }
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "delete": {
        "tags": [
          "resources"
        ],
        "summary": "Delete a tutorial resource by ID",
        "description": "For valid response try integer IDs with positive integer value. Negative or non-integer values will generate API errors",
        "operationId": "deleteResource",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "400": {
            "description": "Invalid ID supplied"
          },
          "204" : {
            "description": "Delete successful"
          }
        }
      },
      "post": {
        "tags": [
          "resources"
        ],
        "summary": "Add a comment to the resource",
        "description": "A user can add a comment to a video/article link",
        "operationId": "addCommentToResource",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "405": {
            "description": "Invalid input"
          },
          "201" : {
            "description": "Successful post"
          },
          "400": {
            "description": "Invalid ID supplied"
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "resourceId",
          "description": "ID of the resource being commented on",
          "required": true,
          "type": "integer"
        }
      ]
    },
    "/collections" : {
      "post": {
        "tags": [
          "collections"
        ],
        "summary": "Create a collection",
        "description": "A collection is a set of articles and videos, around a theme",
        "operationId": "addCollection",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "resource",
            "description": "Resource to add to collection",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Resource"
            }
          }
        ],
        "responses": {
          "405": {
            "description": "Invalid input"
          },
          "201" : {
            "description": "Successful post"
          }
        }
      }
    },
    "/collections/{collectionId}": {
      "get": {
        "tags": [
          "collections"
        ],
        "summary": "Get a collection by ID",
        "description": "Returns a collection of resources (video and article links)",
        "operationId": "getCollectionById",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Collection"
            }
          },
          "400": {
            "description": "Invalid ID supplied"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "delete": {
        "tags": [
          "collections"
        ],
        "summary": "Delete a collection by ID",
        "description": "For valid response try integer IDs with positive integer value. Negative or non-integer values will generate API errors",
        "operationId": "deleteCollection",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "400": {
            "description": "Invalid ID supplied"
          },
          "204" : {
            "description": "Delete successful"
          }
        }
      },
      "post": {
        "tags": [
          "collections"
        ],
        "summary": "Add a comment to the collection",
        "description": "A user can add a comment to a collection of video/article links",
        "operationId": "addCommentToCollection",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "405": {
            "description": "Invalid input"
          },
          "201" : {
            "description": "Successful post"
          },
          "400": {
            "description": "Invalid ID supplied"
          }
        }
      },
      "put": {
        "tags": [
          "collections"
        ],
        "summary": "Update a collection",
        "description": "Update an existing collection of video and article links",
        "operationId": "updateCollection",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
       "responses": {
          "400": {
            "description": "Bad data supplied"
          },
          "204": {
            "description": "Resource updated successfully"
          }
        }
      },
      "parameters": [
        {
          "name": "collectionId",
          "in": "path",
          "description": "ID of collection to return",
          "required": true,
          "type": "integer",
          "format": "int64"
        }
      ]
    } 
  },
  "securityDefinitions": {
    "petstore_auth": {
      "type": "oauth2",
      "authorizationUrl": "http://petstore.swagger.io/oauth/dialog",
      "flow": "implicit",
      "scopes": {
        "write:pets": "modify pets in your account",
        "read:pets": "read your pets"
      }
    },
    "api_key": {
      "type": "apiKey",
      "name": "api_key",
      "in": "header"
    }
  },
  "definitions": {
    "Category": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "name": {
          "type": "string"
        }
      },
      "xml": {
        "name": "Category"
      }
    },
    "Tag": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "name": {
          "type": "string"
        }
      },
      "xml": {
        "name": "Tag"
      }
    },
    "Resource": {
      "type": "object",
      "required": [
        "name",
        "url"
      ],
      "properties": {
        "name": {
          "type": "string",
          "example": "How to create pthreads in C"
        },
        "url": {
          "type": "string",
          "example": "https://www.youtube.com/watch?v=uA8X5zNOGw8&t=3s"
        },
        "type": {
          "type": "integer",
          "format": "int64"
        }
      },
      "xml": {
        "name": "Resource"
      }
    },
    "ResourceForPut": {
      "type": "object",
      "required": [
        "id"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "example": "How to create pthreads in C"
        },
        "url": {
          "type": "string",
          "example": "https://www.youtube.com/watch?v=uA8X5zNOGw8&t=3s"
        },
        "type": {
          "type": "integer",
          "format": "int64"
        }
      },
      "xml": {
        "name": "Resource"
      }
    },
    "Collection": {
      "type": "object",
      "required": [
        "resourceId"
      ]
    },
    "ApiResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "type": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    }
  },
  "externalDocs": {
    "description": "Find out more about Swagger",
    "url": "http://swagger.io"
  }
}